torch==2.12.0+cpu
torchvision==0.27.0+cpu
torchao==0.17.0+cpu
transformers>=5.9.0
tokenizers>=0.22.0
safetensors>=0.7.0
accelerate>=1.13.0
onnx>=1.21.0
onnxruntime>=1.23.0
onnx-ir>=0.2.0
onnxscript>=0.7.0
onnxconverter-common>=1.16.0
qai-hub>=0.49.0
sentencepiece>=0.2.0
huggingface_hub>=0.20.0
numpy<2.3
ruamel.yaml
